---
import { Image } from 'astro:assets';

type Skill = {
	id: number;
	img: string;
	name: string;
};

interface Props {
	skill: Skill;
}

const { skill } = Astro.props;
---

<div
	class='skills__icon'
	data-id={skill.id}
	data-name={skill.name}
	data-img={skill.img}
	tabindex='0'
>
	<Image
		src={skill.img}
		alt={`${skill.name} icon`}
		width='60'
		height='60'
	/>
</div>

<style>
	.skills__icon {
		border: 2px solid transparent;
		border-radius: 1rem;
		background-color: hsla(231, 48%, 45%, 0.6);
		aspect-ratio: 1;
		user-select: none;
	}

	.skills__icon img {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}

	.skills__icon:focus-within {
		border-color: red;
	}
</style>
