---
import SkillsGroup from './SkillsGroup.astro';
import { getUiData, getLangFromUrl } from '../../../utils/languages';
const ui = await getUiData(getLangFromUrl(Astro.url));
---

<div class='skills__collection'>
	<h2>{ui.skills.title}</h2>
	<SkillsGroup />
</div>

<style>
	.skills__collection {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		text-align: center;
	}

	h2 {
		font-size: 2rem;
	}
</style>

<script>
	import { getDescriptions, getLangFromUrl } from '../../../utils/languages';
	const skillsDescriptionData = await getDescriptions(getLangFromUrl(window.location.href));

	// add event listeners to the items
	// so when clicked, they select the description and set the content to the description object of the list

	const skillsIcons = document.querySelectorAll('.skills__icon') as NodeListOf<HTMLElement>;
	const skillsDescription = document.querySelector('.skills__description') as HTMLElement;
	const skillsDisplay = document.querySelector('.skills__display') as HTMLElement;

	const descriptionElements = {
		img: skillsDescription.querySelector('img') as HTMLImageElement,
		title: skillsDescription.querySelector('.title') as HTMLElement,
		content: skillsDescription.querySelector('.content') as HTMLElement,
		button: skillsDescription.querySelector('button') as HTMLButtonElement,
	};

	descriptionElements.button.addEventListener('click', () => {
		skillsDisplay.classList.remove('skills__display--show');
	});

	function getItemDesc(id: number | string | undefined) {
		if (typeof id === 'string') id = Number.parseInt(id);
		return skillsDescriptionData.find(skill => skill.id === id)?.description;
	}

	skillsIcons.forEach(item => {
		item.addEventListener('click', () => {
			const { img, title, content } = descriptionElements;
			const { img: dataImg, name: dataName, id: dataId } = item.dataset;

			img.src = `${dataImg}`;
			img.alt = `${dataName} icon`;
			title.innerText = `${dataName}`;

			const dataDescription = getItemDesc(dataId);
			content.innerText = `${dataDescription}`;

			skillsDisplay.classList.add('skills__display--show');
		});
	});
</script>
